# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
.env/

# Environment variables
.env

# Databases
*.db
*.sqlite
*.sqlite3

# Data files
data/

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store
